* {
  font-family: -apple-system, /* Safari on MacOS X and iOS */ BlinkMacSystemFont, /* Chrome on MacOS X */ /*English First*/ 'Helvetica Neue',
    /* Old OSX Capitan */ 'Segoe UI', /* Windows and Windows Phone */ 'Roboto', /* Android and newer Chrome OS */ 'Oxygen',
    /* Linux KDE Desktop */ 'Ubuntu', /* Linux Ubuntu System */ 'Cantarell', /* Linux GNOME Desktop */ 'Fira Sans', /* Firefox OS */ 'Droid Sans',
    /* Android */ /*Chinese Fallback*/ 'PingFang SC', /* OSX ^10.11 & iOS ^9  苹方丽黑 */ 'Hiragino Sans GB',
    /* OSX ^10.6            冬青黑体 */ 'STHeiti', /* OSX <10.6  & iOS <9  华文黑体 */ 'Microsoft YaHei',
    /* Win                  微软雅黑 */ 'Microsoft JhengHei', /* Win                  微软正黑 */ 'Source Han Sans SC',
    /* Android 5.0^         思源黑体 */ 'Noto Sans CJK SC', /* Android 5.0^         思源黑体 */ 'Source Han Sans CN',
    /* Android 5.0^         思源黑体 */ 'Noto Sans SC', /* Android 5.0^         思源黑体 */ 'Source Han Sans TC',
    /* Android 5.0^         思源黑体 */ 'Noto Sans CJK TC', /* Android 5.0^         思源黑体 */ 'WenQuanYi Micro Hei',
    /* Linux             文泉驿微米黑 */ SimSun, /* Win old              中易宋体 */ sans-serif !important;
  /* System Fallback              */
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  height: 100%;
  background: #f0f0f0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow: hidden;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-a-c {
  display: flex;
  align-items: center;
}

html {
  overflow-y: scroll; //这是为了兼容ie8，不支持:root, vw
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}

// 边距相关
$sizes: (0, 5, 10, 15, 20);

@for $index from 1 to 6 {
  .cd-m-#{nth($sizes, $index)} {
    margin: #{nth($sizes, $index)}px !important;
  }

  .cd-mt-#{nth($sizes, $index)} {
    margin-top: #{nth($sizes, $index)}px !important;
  }

  .cd-mr-#{nth($sizes, $index)} {
    margin-right: #{nth($sizes, $index)}px !important;
  }

  .cd-mb-#{nth($sizes, $index)} {
    margin-bottom: #{nth($sizes, $index)}px !important;
  }

  .cd-ml-#{nth($sizes, $index)} {
    margin-left: #{nth($sizes, $index)}px !important;
  }

  .cd-p-#{nth($sizes, $index)} {
    padding: #{nth($sizes, $index)}px !important;
  }

  .cd-pt-#{nth($sizes, $index)} {
    padding-top: #{nth($sizes, $index)}px !important;
  }

  .cd-pr-#{nth($sizes, $index)} {
    padding-right: #{nth($sizes, $index)}px !important;
  }

  .cd-pb-#{nth($sizes, $index)} {
    padding-bottom: #{nth($sizes, $index)}px !important;
  }

  .cd-pl-#{nth($sizes, $index)} {
    padding-left: #{nth($sizes, $index)}px !important;
  }
}

$width: (50, 100, 150, 200, 250, 300);

@for $index from 1 to 7 {
  .cd-width-#{nth($width, $index)} {
    width: #{nth($width, $index)}px !important;
  }
}
